@font-face {
  font-family: Tanha;
  src: url("/fonts/Tanha/Tanha.eot");
  src: url("/fonts/Tanha/Tanha.eot?#iefix") format('embedded-opentype'),
      url("/fonts/Tanha/Tanha.woff") format('woff'),
      url("/fonts/Tanha/Tanha.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Include the padding and border in an element's total width and height */

* {
  /* box-sizing: border-box; */
  font-family: FontAwesome, Tanha;
  margin: 0px;
  padding: 0px;
}

.container {
  background-color: white;
  width: 100%;
  margin: 0px;
}
.hr {
  border-top: 1px solid;
  margin: 0px;
  color: gray;
  box-shadow: 1px 1px 10px rgb(114, 110, 110);
}
/* //////////////////////////////Style the header///////////////////////////////// */
#header {
  height: 92px;
  padding: 20px 40px;
  background-color: #d1d8ff;
  margin: 0px;
  max-width:1290px;
}
/* Clear floats after the header */
#header:after {
  content: "";
  display: table;
  clear: both;
}
/* ///left side of header include theme setting and account setting ///*/
.faicon {
  border: gray 1px solid;
  color: gray;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  text-align: center;
  float: initial;
  background-color:white;
  cursor: pointer;
  box-shadow: 1px 1px 10px #d6d6d6 inset;
}

.faicon:hover {
  background-color: gray;
  color: white;
  border-color: gray;
}
#leftH {
  width: 12%;
  float: left;
  height: 100%;
}
#accountoption {
  float: left;
}
#theme {
  float: left;
  margin-left: 12%;
}
#moon {
  display: block;
}
#sun {
  display: none;
}
/* /////////middle side of header include searching box  /////////////*/
.osicon {
  color: gray;
  padding: 10px;
  width: 15px;
  text-align: center;
  font: 50px;
  float: initial;
  margin: 7px 13px;
  cursor: pointer;
}

.osicon:hover {
  color: darkgrey;
}
#searchbox {
  border: #8f8f8f 1px solid;
  width: 70%;
  display: inline-block;
  background-color: white;
  border-radius: 30px;
  margin: auto;
  height: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 10px #bbb3b3 inset;
}
#searchclose {
  float: left;
  margin-right: 20px;
}
#search{
  border: none;
  font-size: 19px;
  background-color: white;
  height: 100%;
  width: 85%;
  outline: none;
  color: #4d4d4d;
  margin: 7px 0px 7px 0px;
  height: 36px;
}
#searchok {
  float: right;
  margin-right: 30px;
}
/* /////////right side of header include logo and add board /////////////*/
#rightH {
  width: 14%;
  float: right;
}
#logo {
  float: left;
  cursor: pointer;
}
#logoimg {
  border-radius: 25px;
  border: gray 1px solid;
  width: 100px;
  height: 45px;
  box-shadow: 1px 1px 10px #bdbdbd
}
#addbord{
  float: right;
}
/* /////////////// modal acount setting and option /////////////////// */
#accountModal {
  background-color: transparent;
}
#madalAcouContent {
  border-radius: 10px;
  padding: 10px 0px;
  box-shadow: 1px 1px 10px #9c9c9c;
  border-color: transparent;
  margin: 80px 30px;
  width: 15%;
  color: #4d4d4d;
}
#madalAcouContent p{
  padding: 7px 15px;
  font-family: Verdana;
}
#madalAcouContent p *{
  color: rgb(41, 41, 41);
}
#madalAcouContent p:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

/* ////////////////////////////////// content index page /////////////////////////////////// */
.conteinerContent {
  width: 1150px;
  height: 250px;
  margin: 20px 100px 0px 120px;
  padding-left: 76px;
  
}

.board{
  float: left;
  width: 25%;
  height: 100%;
  border: 1px rgb(194, 194, 194) solid;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(196, 196, 196);
  margin: 15px;
}

/* //////////////board texts////////////////// */
.boardText {
  margin: 0px;
}
.boardText .rowBoardText{
  margin: 0px;
  padding: 3px 12px;
}

.boardText .rowBoardText:nth-child(even){
  background-color: #f2f2f2;
}

.boardText .rowBoardText p{
  margin: 0px 30px;
  padding: 0px;
}

.boardText .rowBoardText .checkbox {
  display: inline;
  float: left;
  margin: 5px 0px;
  padding: 0px;
}


/* ////////////////////baoard header/////////////////// */
.boardHeader {
  background-color: rgb(230, 230, 230);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 40px;
  margin: 0px;
  padding: 6px 15px 1px 20px;
  box-shadow: 1px 1px 10px #a09595 inset;
}

.boardHeader p {
  width: 50%;
  float: left;
  margin: 0px;
  padding: 0px;
}


.boardHeader i {
  float: right;
  margin-top: 5px;
}
#boardOptionBtn {
  width: 13px;
  padding: 3px;
  cursor: pointer;
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* #logOut { 
  width: 30px;
  font-size: 10px;
  padding: 0%;
}




/* Remove margins and padding from the list
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items 
ul li {
  cursor: pointer;
  position: relative;
  padding: 20px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) 
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover 
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text 
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on 
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button 
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: skyblue;
  color: white;
}


/* Style the input 
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button 
.addBtn {
  padding: 10px;
  width: 25%;
  background: #faf7f7;
  color: #dfdbdb;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

#myInput:hover + .addBtn{
    color: black;
}

.addBtn:hover {
  background-color: #bbb;
  color: black;
}

.checkbox {
  display: inline;
  width: 15px;
  margin-top: 10px;
}

.btnDelete {
  display: inline;
  width: auto;
  margin: 2px;
}

.btnOpenCollabModal {
  display: inline;
  width: auto;
  margin: 2px;
}
*/


/* modal css  */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height  */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  height: auto;
  width: 40%;
  padding: 7px;
}

/*
#collabInput {
  float: left;
  width: 80%;
  height: 40px;
}

#closeSubmitmodal {
  color: #aaa;
  float: right;
  font-size: 15px;
  width: 20%;
  font-weight: bold;
  height: 40px;
}

#closeSubmitmodal:hover,
#closeSubmitmodal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */





/* //////////////////////////// section add a board ///////////////////////////////// */
.formAddBoard{
  margin: 4px;
}

.formAddBoard *{
  padding: 0px;
  margin: 4px;
  width: 300px;
  text-align: center;
}

#addTaskModalContent {
  width: fit-content;
  
}
/* //////////////////////////////// board show ////////////////////////// */
#myBtn {
  cursor: pointer;
}

#one-board{
  margin: 50px 470px;

}

.task{
  display: grid;
  grid-template-columns: 20px 234px 20px;
  grid-gap: 10px;
  height: 50px;
  padding: 5px 15px 5px 15px;
}

.task:nth-child(even){
  background-color: rgb(245, 245, 245);
}

.task .checkbox {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0px;
}

.task .checkbox input{
  margin: 12px 0px 0px 0px;
  padding: 0px;
  cursor: pointer;
}

.task .taskText{
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
}

.task .taskText input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(59, 59, 59);
  opacity: 1; /* Firefox */
}
.task .taskText input:focus{
  outline: none;
}

.task .taskText input{
  margin-top: 6px;
  border: none;
  width: 234px;
  background-color: inherit;
}

.submitEditTask {
  width: 5px;
  height: 5px;
  cursor: pointer;
  font-size: 10Fpx;
}
.task .removeTask{
  width: 20px;
  height: 20px;
  margin: 7px 0px 0px 0px;
  padding: 0px;
  cursor: pointer;
}


/* ///////////// footer board ////////////// */
#addTaskBtn {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  display: inline;
  float: right;
  margin: 10px 10px;
}
.boardFooter {
  height: 50px;
  background-color: rgb(230, 230, 230);
  box-shadow: 1px 1px 10px #a09595 inset;
  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.whoAdded {
  float: left;
  display: inline;
  margin: 5px 5px;
  width: 257px;
}

.whoAdded p{
  margin: 7px 9px;
  text-align: center;
}